@model IEnumerable<MyProject.Areas.Admin.Models.Author>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_UserLayout.cshtml";
}

<h1>نویسنده</h1>
<hr />
<p style="text-align:right;">


    <a asp-action="Create" class=" btn btn-info">ثبت</a>
</p>
<table class="table Panel-Body">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adreess)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adreess)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class=" btn btn-success">ویرایش</a> |
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">جزییات</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" class=" btn btn-warning">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
